/* /Shared/Footer.razor.rz.scp.css */
a:hover[b-4wz2252ub4] {
    opacity: 0.7;
}
/* /Shared/GridBoxBase.razor.rz.scp.css */
.blog-link[b-ieggld9hlh] {
    flex-grow: 1;
    width: 50%;
    text-decoration: none;
}

@media (max-width: 992px) {
    .blog-link[b-ieggld9hlh] {
        width: 100%;
    }
}

.blog-link > div[b-ieggld9hlh] {
    background-color: rgb(128, 128, 128, .4);
}

.blog-link:hover[b-ieggld9hlh] {
    cursor: pointer;
}

.blog-link:hover > div[b-ieggld9hlh] {
    background-color: rgb(128, 128, 128, .2);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-p531rfodtv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-p531rfodtv] {
    flex: 1;
}
/* /Shared/ProjectsGridBox.razor.rz.scp.css */
.technology-tag[b-ndf6697irc] {
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    padding: 1px 8px;
    margin: 3px;
    height: fit-content;
}
