/* /Pages/Index.razor.rz.scp.css */

/* /Shared/BlogsGridBox.razor.rz.scp.css */
.blog-link[b-whptm38avd] {
    flex-grow: 1;
    width: 50%;
    text-decoration: none;
    
}

.blog-link > div[b-whptm38avd] {
    background-color: rgb(128, 128, 128, .4);
}

.blog-link:hover[b-whptm38avd] {
    cursor: pointer;
    background-color: rgb(128, 128, 128, .2);
}

.text-grey[b-whptm38avd] {
    color: grey;
}

.technology-tag[b-whptm38avd] {
    background-color: skyblue;
    color: black;
    border-radius: 20px;
    padding: 1px 8px;
    margin: 3px;
}
/* /Shared/GridBoxBase.razor.rz.scp.css */
.blog-link[b-ieggld9hlh] {
    flex-grow: 1;
    width: 50%;
    text-decoration: none;
    
}

.blog-link > div[b-ieggld9hlh] {
    background-color: rgb(128, 128, 128, .4);
}

.blog-link:hover[b-ieggld9hlh] {
    cursor: pointer;
    background-color: rgb(128, 128, 128, .2);
}

.text-grey[b-ieggld9hlh] {
    color: grey;
}

.technology-tag[b-ieggld9hlh] {
    background-color: skyblue;
    color: black;
    border-radius: 20px;
    padding: 1px 8px;
    margin: 3px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-p531rfodtv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-p531rfodtv] {
    flex: 1;
}
/* /Shared/ProjectsGridBox.razor.rz.scp.css */
.technology-tag[b-ndf6697irc] {
    background-color: skyblue;
    color: black;
    border-radius: 20px;
    padding: 1px 8px;
    margin: 3px;
}
