<a href="@Cell.Link" class="col-4 d-flex justify-content-center" width="110" height="110">
    <p style="color: white; font-size: x-large; background-color: @Cell.Color; padding: 20px 40px; text-decoration: none" class="rounded">@Cell.Name</p>
</a>

@code {
    [Parameter]
    public Cell Cell { get; set; } = null!;
}