<div class="mt-3">
    @for (var i = 0; i < Math.Ceiling((decimal) Cells.Count / 3); i++)
    {
        <div class="row m-auto">
            <CellBox Cell="@Cells[_position++]" />
            @if (_position < Cells.Count)
            {
                <CellBox Cell="@Cells[_position++]"/>
            }
            @if (_position < Cells.Count)
            {
                <CellBox Cell="@Cells[_position++]"/>
            }
        </div>
    }

</div>


@code {

    [Parameter]
    public IList<Cell> Cells { get; set; } = new List<Cell>();

    int _position = 0;
}