<div class="col-4 d-flex justify-content-center" width="110" height="110">
    <p style="color: white; font-size: x-large; background-color: @Skill.Color; padding: 20px 40px" class="rounded">@Skill.Name</p>
</div>

@code {

    [Parameter]
    public Skill Skill { get; set; }

}