<div class="mt-3">
    @for (var i = 0; i < Math.Ceiling((decimal) _skills.Count / 3); i++)
    {
        <div class="row m-auto">
            <SkillBox skill="@_skills[position++]" />
            @if (position < _skills.Count)
            {
                <SkillBox skill="@_skills[position++]"/>
            }
            @if (position < _skills.Count)
            {
                <SkillBox skill="@_skills[position++]"/>
            }
        </div>
    }

</div>


@code {

    readonly IList<Skill> _skills = new List<Skill>
    {
        new() {Name = ".NET", Color = "#cc4141"},
        new() {Name = "Blazor", Color = "#8F5ed2"},
        new() {Name = "Flutter", Color = "#0D328F"},
        new() {Name = "React", Color = "#61DBFB"},
        new() {Name = "Angular", Color = "#a6120d"},
        new() {Name = "Azure", Color = "#008AD7"},
    };

    int position = 0;
}