@page "/{Uri}"
@inject IContentService _contentService;

<h3>@FrontMatter.Title</h3>



@code {

    [Parameter]
    public BlogFrontMatter FrontMatter { get; set; }

    public string Uri { get; set; } = "test";

    private Blog Model { get; set; }
    
    //Not sure how the URI thing works. ideally have one component for all pages

    protected override async Task OnInitializedAsync()
    {
        Model = await _contentService.GetBlog(FrontMatter);
    }

}