.blog-link {
    background-color: rgb(128, 128, 128, .4);
    flex-grow: 1;
}

.blog-link:hover {
    cursor: pointer;
    color: grey !important;
}

.blog-link:hover h2 {
    color: grey !important;
}


.text-grey {
    color: grey;
}

