@page "/"
@inherits AppComponentBase
@inject IContentService ContentService

<div style="background-color: rgb(128, 128, 128, .4); border-radius: 3px; color: white" class="d-flex mx-5 p-3">
    <h1 class="m-auto">
        Hey 👋
    </h1>
    <p>
        @((MarkupString) _content)
    </p>

</div>

<SkillGrid/>

@code {
    private string _content = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _content = await ContentService.GetHomePageContent();
    }

}