@page "/"
@inherits AppComponentBase
@inject IMatDialogService MatDialogService

<div style="background-color: rgb(128, 128, 128, .4); color: white" class="d-flex p-3 mb-3 rounded">
    <h1 class="m-auto">
        Hey 👋
    </h1>
    <p>
        <Markdown ContentName="MarkdownContent.HomePage"/>
    </p>
</div>

<div class="d-flex justify-content-around text-white my-3">
    <div style="max-width: 50%">
        <h1>My tech stack 👨🏻‍💻</h1>
        Here are some of my favourite technologies.
        At the moment, my go-to technology is Blazor. Blazor has made Web Development so much more enjoyable by not using JavaScript

    </div>
    <SkillGrid/>
</div>
<div class="d-flex justify-content-around text-white my-3 rounded py-3" style="background-color: rgb(128, 128, 128, .4);">
    <SkillGrid/>
    <div style="max-width: 50%;">
        <h1>Blogs ✍🏻</h1>
        🚧 Coming soon! 🚧
        <p>
            I want to start writing about things I learn, or problems I encounter to help other developers who might stumble across the same thing.
        </p>
    </div>
</div>
<div class="d-flex justify-content-around text-white my-3">
    <div style="max-width: 50%">
        <h1>Projects </h1>
        Here are some of my personal projects.
        I always like to try out new development technologies by building something with them, I also find this is the best way to learn

    </div>
    <SkillGrid/>
</div>

This makes the page unscrollable.
@code {

    protected override async Task OnInitializedAsync()
    {
        await MatDialogService.AlertAsync("Hey 🙂, thanks for visiting! This page is still under development, so if you have any suggestions, use the Suggest a Change button in the footer to create an issue on GitHub");
    }
}