<footer class="d-flex flex-wrap justify-content-around align-items-center pt-2 m-4 " style="border-top: 1px solid rgb(128, 128, 128, .4);">
    <div style="text-decoration: none; font-size: 40px">
        <a href="https://github.com/bradystroud/" class="mx-2" target="_blank">
            <MudIcon Icon="@Icons.Custom.Brands.GitHub" Class="me-1"/>
        </a>
        <a href="https://twitter.com/bradystroud_/" class="mx-2" target="_blank">
            <MudIcon Icon="@Icons.Custom.Brands.Twitter" Class="me-1"/>
        </a>
        <a href="https://www.linkedin.com/in/bradystroud" class="mx-2" target="_blank">
            <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Class="me-1"/>
        </a>
    </div>
    <a style="text-decoration: none;" href="https//github.com/bradystroud/portfolio/issues/new"><MudIcon Icon="@Icons.Custom.Brands.GitHub" Size="Size.Small" Class="m-2 mt-1"/>Suggest a change</a>
</footer>