<a class="blog-link rounded m-2" target="_blank" href="@(string.IsNullOrEmpty(Url) ? "#" : Url)">
    <div class="rounded p-3">
        <h2>
            <i class="@IconClass"></i> @Name
        </h2>
        @ChildContent
        <p class="text-right">@Description</p>
    </div>
</a>

@code {
    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public string Url { get; set; } = string.Empty;
    
    [Parameter]
    public string IconClass { get; set; } = string.Empty;
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}