<div class="top-row px-4">
    <h1>Brady Stroud</h1>

    <div>
        <a href="/">Home</a>
        <a href="">Projects</a>
        <a href="/blog">Blog</a>
        <a href="">Get in touch</a>
    </div>
</div>