<div class="top-row px-4">
    <h2>Brady Stroud <span class="mx-2" style="color: #A9A9A9">Software Developer</span></h2>
    
    <div class="rounded-2 bg-secondary p-2">
       ⚠️ In development ⚠️
    </div>
    
    <div>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Get in touch</a>
    </div>
</div>