@inherits LayoutComponentBase

<div class="page">
    <main>
        <Header></Header>

        <article class="content px-4 mx-5">
            @Body
        </article>

        <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 " style="border-top: 1px solid rgb(128, 128, 128, .4); height: 10px;  position:absolute; bottom:0; width:100%;">
            <a style="text-decoration: none" href="https://github.com/bradystroud/portfolio/issues/new"><i class="fa-brands fa-github me-1"></i>Suggest a change</a>
        </footer>
    </main>
</div>