@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="d-flex justify-content-between my-4 m-5">
            <h2>Brady Stroud </h2>

            <h2 class="mx-2" style="color: skyblue">Software Architect</h2>
        </div>

        <article class="content px-4 mx-5">
            @Body
        </article>

        <footer class="d-flex flex-wrap justify-content-around align-items-center pt-2 m-4 " style="border-top: 1px solid rgb(128, 128, 128, .4);">
            <div style="text-decoration: none; font-size: 40px">
                <a href="https://github.com/bradystroud/" class="mx-2" style="color: skyblue" target="_blank">
                    <i class="fa-brands fa-github me-1"></i>
                </a>
                <a href="https://twitter.com/bradystroud_/" class="mx-2" style="color: skyblue" target="_blank">
                    <i class="fa-brands fa-twitter me-1"></i>
                </a>
                <a href="https://www.linkedin.com/in/bradystroud" class="mx-2" style="color: skyblue" target="_blank">
                    <i class="fa-brands fa-linkedin me-1"></i>
                </a>
            </div>
            <a style="text-decoration: none; color: skyblue" href="https//github.com/bradystroud/portfolio/issues/new"><i class="fa-brands fa-github me-1"></i>Suggest a change</a>
        </footer>
    </main>
</div>