@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="d-flex justify-content-between my-4 m-5">
            <h2>Brady Stroud </h2>

            <h2 class="mx-2 text-end" style="color: skyblue">Software Architect</h2>
        </div>

        <article class="content px-4 mx-lg-5">
            @Body
        </article>

        <Footer></Footer>
    </main>
</div>