@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="d-flex justify-content-center my-4 m-5">
            <h2>bradystroud.dev </h2>
        </div>

        <div class="d-flex justify-content-center">
            <article class="content px-4 mx-lg-5">
                @Body
            </article>
        </div>

        <Footer></Footer>
    </main>
</div>