@inherits AppComponentBase
@inject IContentService ContentService

@if (!string.IsNullOrEmpty(Content))
{
    <div class="text-white">
        @((MarkupString) Content)
    </div>
}

@code {

    [Parameter]
    public MarkdownContent ContentName { get; set; }

    [Parameter]
    public string? Content { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Content))
        {
            Content = ContentName switch
            {
                MarkdownContent.HomePage => await ContentService.GetHomePageContent(),
                _ => Content
                };
        }
    }

}